# Electron 二进制下载镜像（国内）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# better-sqlite3 等原生模块的 prebuild 下载镜像
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3

# Node-GYP 编译时使用的 Python/Node 镜像
disturl=https://npmmirror.com/mirrors/node
